* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 250px;
}

.fondoNavbar {
    background-color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-transform: uppercase;    
}

.fondoFooter {
    background-color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.fondoBlog {
    background-color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
}

.btnMio {
    background-color: darkolivegreen;
    color: #fafafa;
}

.btnMio:hover {
    background-color: darkgreen;
    color: #fafafa;
}

h3 {
    font-size: 25px;
    color: darkolivegreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    font-size: 15px;
    color: saddlebrown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}