@charset "UTF-8";
main h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  justify-content: center;
  font-size: 60px;
  margin-bottom: 10px;
}

.logo {
  width: 150px;
}

body {
  background-color: rgb(97, 97, 11);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btnMio {
  background-color: darkolivegreen;
  color: rgb(238, 233, 233);
}

.btnMio:hover {
  background-color: darkgreen;
  color: rgb(238, 233, 233);
}

.fondoNavbar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(233, 220, 171);
  font-size: 25px;
  text-transform: uppercase;
  position: sticky;
  top: 0%;
  z-index: 3;
}

.parrafoSinImagen {
  background-color: rgb(97, 97, 11);
  background-size: cover;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.parrafoSinImagen h2 p {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.parrafoSinImagen h2 {
  font-size: 90px;
}
.parrafoSinImagen p {
  font-size: 30px;
}

.parrafoImagenUno {
  background-image: url(../img/local.webp);
  background-size: cover;
  color: black;
  font-size: 90px;
  -webkit-text-stroke: 1px rgb(238, 233, 233);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.parrafoImagenUno p {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.botonTienda {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 50px;
}

.linkBoton {
  text-decoration: none;
  color: rgb(238, 233, 233);
}

.carusel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.parrafoImagenDos {
  background-image: url(../img/cebada.webp);
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  -webkit-text-stroke: 1px rgb(238, 233, 233);
  margin-bottom: 30px;
}
.parrafoImagenDos h2 h3 p {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.parrafoImagenDos h2 {
  font-size: 90px;
}
.parrafoImagenDos h3 {
  font-size: 70px;
}
.parrafoImagenDos p {
  font-size: 30px;
}

@media (min-width: 1025px) {
  .parrafoImagenUno {
    height: 800px;
    padding-top: 200px;
  }
  .parrafoImagenDos {
    height: 800px;
    padding-top: 200px;
  }
}
@media (max-width: 1025px) and (min-width: 750px) {
  .parrafoSinImagen h2 {
    font-size: 60px;
  }
  .parrafoSinImagen p {
    font-size: 18px;
  }
  .parrafoImagenUno {
    font-size: 75px;
  }
  .parrafoImagenDos h2 {
    font-size: 75px;
  }
  .parrafoImagenDos h3 {
    font-size: 45px;
  }
  .parrafoImagenDos p {
    font-size: 30px;
  }
}
@media (max-width: 750px) and (min-width: 500px) {
  .parrafoSinImagen h2 {
    font-size: 60px;
  }
  .parrafoSinImagen p {
    font-size: 15px;
  }
  .parrafoImagenUno {
    font-size: 55px;
  }
  .parrafoImagenDos h2 {
    font-size: 60px;
  }
  .parrafoImagenDos h3 {
    font-size: 40px;
  }
  .parrafoImagenDos p {
    font-size: 20px;
  }
}
@media (max-width: 500px) and (min-width: 300px) {
  .parrafoSinImagen h2 {
    font-size: 30px;
  }
  .parrafoSinImagen p {
    font-size: 10px;
  }
  .parrafoImagenUno {
    font-size: 35px;
  }
  .parrafoImagenDos h2 {
    font-size: 40px;
  }
  .parrafoImagenDos h3 {
    font-size: 20px;
  }
  .parrafoImagenDos p {
    font-size: 15px;
  }
}
#productos-container {
  justify-content: center;
}

/* Estilo para los productos */
.detalles {
  color: rgb(94, 38, 6);
  border: 3px solid rgb(94, 38, 6);
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(233, 220, 171);
  width: 300px;
  text-align: center;
}
.detalles .precio {
  color: #ddd;
}

/* Estilo para la imagen del producto */
.producto-imagen {
  width: 250px;
  margin-bottom: 10px;
}

/* Estilo para el botón "Agregar al carrito" */
button {
  background-color: darkolivegreen;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
  color: white;
}

/* Estilo para el carrito */
#carrito-container {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: black;
}

/* Estilos del botón "Calcular Costo Total" */
#calcular-costo-total {
  margin-top: 20px;
  background-color: rgb(94, 38, 6);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#calcular-costo-total:hover {
  background-color: rgb(233, 220, 171);
  color: rgb(94, 38, 6);
}

.parrafoSocio h2 {
  font-size: 40px;
  color: rgb(238, 233, 233);
}
.parrafoSocio h3 {
  font-size: 20px;
  color: rgb(233, 220, 171);
}

.formularioSocio {
  justify-content: center;
  margin-bottom: 45px;
}

@media (max-width: 460px) and (min-width: 300px) {
  main h1 {
    font-size: 40px;
  }
  .parrafoSocio h2 {
    font-size: 30px;
  }
  .parrafoSocio h3 {
    font-size: 15px;
  }
}
.whatsapp {
  width: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.bloqueConsultas {
  justify-content: center;
}
.bloqueConsultas div {
  margin-bottom: 8px;
  margin-top: 8px;
}
.bloqueConsultas h2 {
  color: rgb(238, 233, 233);
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contenedorRedes h2 {
  color: rgb(238, 233, 233);
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.redesSociales {
  justify-content: center;
}

.redesCard {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: center;
  width: 10rem;
}
.redesCard .insta {
  margin-right: 15px;
}
.redesCard .twiter {
  padding-top: 18px;
}
.redesCard .youtu {
  padding-top: 15px;
}

.mapaVisita {
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.mapaVisita h2 {
  margin-top: 25px;
  color: rgb(238, 233, 233);
  font-size: 40px;
}
.mapaVisita h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(233, 220, 171);
  font-size: 20px;
}

@media (max-width: 460px) and (min-width: 300px) {
  .contactanos {
    font-size: 35px;
  }
  .bloqueConsultas h2 {
    font-size: 25px;
  }
  .contenedorRedes h2 {
    font-size: 25px;
  }
  .mapaVisita h2 {
    font-size: 25px;
  }
  .mapaVisita h3 {
    font-size: 15px;
  }
}
@keyframes girarRedes {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.redAnimacion {
  animation-name: girarRedes;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.estiloBlog {
  justify-content: center;
}
.estiloBlog h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgb(94, 38, 6);
}

.fondoBlog {
  background-color: rgb(233, 220, 171);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
  width: 18rem;
  height: 20rem;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

@media (max-width: 460px) and (min-width: 300px) {
  .fondoBlog {
    margin-left: 60px;
  }
}
.fondoFooter {
  background-color: rgb(233, 220, 171);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.fondoFooter div {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.navFooter {
  margin-bottom: 5px;
  padding-bottom: 5px;
  justify-content: center;
}

.textFooter {
  color: rgb(94, 38, 6);
}

.errorCuatro {
  justify-content: center;
  text-align: center;
}
.errorCuatro img {
  display: block;
  margin: 0 auto;
}
.errorCuatro button {
  display: block;
  margin: 10px auto;
}

/*# sourceMappingURL=main.css.map */
