.estiloBlog{
    justify-content: center;
}
.fondoBlog {
    background-color: $fondoNav;
    font-family: $mainFont;
    text-transform: uppercase;
    padding-top: 10px;
    justify-content: center;
}