.estiloBlog {
    justify-content: center;

    h2 {
        font-family: $mainFont;
        font-size: 25px;
        color: $keyColor;
    }
}

.fondoBlog {
    background-color: $fondoNav;
    font-family: $mainFont;
    text-transform: uppercase;
    padding-top: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}