.logo {
    width: 150px;
}

body {
    background-color: $mainColor;
}

main h1 {
    color: black;
    justify-content: center;
}

.btnMio {
    background-color: $btnMio;
    color: $white;
}

.btnMio:hover {
    background-color: $btnHover;
    color: $white;
}