.logo {
    width: 150px;
}

body {
    background-color: $mainColor;
    font-family: $mainFont;
}

main h1 {
    color: black;
    justify-content: center;
    font-size: 60px;
    font-family: $mainFont;
}

.btnMio {
    background-color: $btnMio;
    color: $white;
}

.btnMio:hover {
    background-color: $btnHover;
    color: $white;
}