.bloqueConsultas {
    justify-content: center;

    div {
        margin-bottom: 8px;
        margin-top: 8px;

    }


    h2 {
        color: $white;
        font-size: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.contenedorRedes {
    h2 {
        color: $white;
        font-size: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.redesSociales {
    justify-content: center;

}

.redesCard {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    text-align: center;
    width: 10rem;

    .twiter {
        padding-top: 18px;
    }

    .youtu {
        padding-top: 15px;
    }
}

.mapaVisita {
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    h2 {
        margin-top: 25px;
        color: $white;
        font-size: 40px;
    }

    h3 {
        margin-top: 15px;
        margin-bottom: 15px;
        color: $fondoNav;
        font-size: 20px;
    }
}

@media (max-width:460px) and (min-width:300px) {
    .contactanos {
        font-size: 35px;
    }

    .bloqueConsultas {
        h2 {
            font-size: 25px;
        }
    }

    .contenedorRedes {
        h2 {
            font-size: 25px;
        }
    }

    .mapaVisita {
        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 15px;
        }
    }

}

@keyframes girarRedes {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg);}
    50% {transform: rotate(30deg);}
    75% { transform: rotate(45deg);}
    100% { transform: rotate(0deg); }
    
  }

  .redAnimacion {
    animation-name: girarRedes;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }