.parrafoSocio {

    h3 {
        font-size: 40px;
        color: $white;
    }

    h4 {
        font-size: 20px;
        color: $fondoNav;

    }
}

.formularioSocio {
    justify-content: center;
    margin-bottom: 45px;

}