
.fondoFooter {
    background-color: $fondoNav;
    font-family: $mainFont;
    text-transform: uppercase;
    div {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}
.navFooter{
    margin-bottom: 5px;
    padding-bottom: 5px;
    justify-content: center;
}
.textFooter {
    color: $keyColor;
}