
.parrafoSinImagen {
    background-color: $mainColor;
    background-size: cover;
    color: white;
    font-family: $mainFont;

    h4 p {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    h4 {
        font-size: 80px;

    }
    p {
        font-size: 20px;

    }
}


.parrafoImagenUno {
    background-image: url(../img/local.png);
    background-size: cover;
    color: black;
    font-size: 80px;
    -webkit-text-stroke: 1px $white;
    font-family: $mainFont;

    p {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.botonTienda {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 50px;
}

.carusel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.parrafoImagenDos {
    background-image: url(../img/cebada.jpg);
    background-size:cover;
    font-family: $mainFont;
    color: black;
    -webkit-text-stroke: 1px $white;
    margin-bottom: 30px;

    h4 h5 p {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    h4 {
        font-size: 80px;

    }

    h5 {
        font-size: 40px;

    }

    p {
        font-size: 20px;

    }
}
 

@media (min-width:1000px) {
    .parrafoImagenUno {
        height: 800px;
        padding-top: 200px;
    }
    .parrafoImagenDos {
        height: 800px;
        padding-top: 200px;
    }
}

@media (max-width:1000px) and (min-width:600px) {
    .parrafoImagenDos {
        height: 600px;
        padding-top: 150px;
    }
    
}
