.parrafoSinImagen {
    background-color: $mainColor;
    background-size: cover;
    color: white;
    font-family: $mainFont;

    h2 p {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    h2 {
        font-size: 90px;

    }

    p {
        font-size: 30px;

    }
}


.parrafoImagenUno {
    background-image: url(../img/local.webp);
    background-size: cover;
    color: black;
    font-size: 90px;
    -webkit-text-stroke: 1px $white;
    font-family: $mainFont;

    p {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.botonTienda {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 50px;
}

.linkBoton {
    text-decoration: none;
    color: $white;
}

.carusel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.parrafoImagenDos {
    background-image: url(../img/cebada.webp);
    background-size: cover;
    font-family: $mainFont;
    color: black;
    -webkit-text-stroke: 1px $white;
    margin-bottom: 30px;

    h2 h3 p {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    h2 {
        font-size: 90px;

    }

    h3 {
        font-size: 70px;

    }

    p {
        font-size: 30px;

    }
}


@media (min-width:1025px) {
    .parrafoImagenUno {
        height: 800px;
        padding-top: 200px;
    }

    .parrafoImagenDos {
        height: 800px;
        padding-top: 200px;
    }
}

@media (max-width:1025px) and (min-width:750px) {

    .parrafoSinImagen {


        h2 {
            font-size: 60px;

        }

        p {
            font-size: 18px;

        }
    }

    .parrafoImagenUno {
        font-size: 75px;

    }

    .parrafoImagenDos {


        h2 {
            font-size: 75px;

        }

        h3 {
            font-size: 45px;

        }

        p {
            font-size:30px;

        }

    }


}

@media (max-width:750px) and (min-width:500px) {

    .parrafoSinImagen {


        h2 {
            font-size: 60px;

        }

        p {
            font-size: 15px;

        }
    }

    .parrafoImagenUno {
        font-size: 55px;

    }

    .parrafoImagenDos {


        h2 {
            font-size: 60px;

        }

        h3 {
            font-size: 40px;

        }

        p {
            font-size: 20px;

        }

    }


}


@media (max-width:500px) and (min-width:300px) {
    .parrafoSinImagen {


        h2 {
            font-size: 30px;

        }

        p {
            font-size: 10px;

        }
    }

    .parrafoImagenUno {
        font-size: 35px;

    }

    .parrafoImagenDos {


        h2 {
            font-size: 40px;

        }

        h3 {
            font-size: 20px;

        }

        p {
            font-size: 15px;

        }

    }
}