

.ordenTienda {
    justify-content: center;
    margin-top: 2px;

}

/* Estilos de los productos */
#productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    width: 200px;
}

.detalles {
    text-align: center;
}

.button-agregar {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos del carrito */
#carrito-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.producto-en-carrito {
    margin-bottom: 10px;
}

/* Estilos del mensaje de usuario */
#mensaje-usuario {
    margin-top: 20px;
    font-size: 16px;
    color: red;
}

/* Estilos del costo total */
#costo-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Estilos del botón "Calcular Costo Total" */
#calcular-costo-total {
    margin-top: 20px;
    background-color: $keyColor;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

#calcular-costo-total:hover {
        background-color: $fondoNav;
    color: $keyColor;   
}
