div {
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.productos-container {
    justify-content: center;
    background-color: palevioletred;
}

/* Estilo para los productos */
.detalles {
    color: $keyColor;
    border: 3px solid $keyColor;
    padding: 20px;
    background-color: $fondoNav;
    width: 290px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}


/* Estilo para la imagen del producto */
.producto-imagen {
    width: 250px;
    margin-bottom: 10px;
}

/* Estilo para el botón "Agregar al carrito" */
button {
    background-color:$btnMio;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color:$btnHover;
    color: white;
    
}

/* Estilo para el contenedor de la lista de carrito */
.listaCarrito {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $fondoNav;
    padding: 10px;
    display: none; 
    margin: 10px;
    border: 3px solid $keyColor;
    z-index: 4;
}

/* Estilo para el botón que mostrará/ocultará la lista de carrito */
#mostrar-carrito {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2; /* Asegura que esté sobre otros elementos */
}

/* Estilo para el carrito */
.carrito-container {
    border: 3px solid $keyColor;
    padding: 20px;
    background-color: black;
    color: white;
    position: static;

}


/* Estilos del botón "Calcular Costo Total" */
#calcular-costo-total {
    margin-top: 20px;
    background-color: $keyColor;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
}

#calcular-costo-total:hover {
        background-color: $fondoNav;
    color: $keyColor;   
}

@media (max-width:992px) and (min-width:460px) {
    .detalles {
        margin-left: 20px;
        margin-right: 20px;
    }
   }