.whatsapp {
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.ordenTienda {
    justify-content: center;
    margin-top: 2px;

}

.cardMio {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}