
#productos-container {
    justify-content: center;
}

/* Estilo para los productos */
.detalles {
    color: $keyColor;
    border: 3px solid $keyColor;
    padding: 20px;
    margin-bottom: 20px;
    background-color: $fondoNav;
    width: 300px;
    text-align: center;

    .precio{
        color: #ddd;
    }
}


/* Estilo para la imagen del producto */
.producto-imagen {
    width: 250px;
    margin-bottom: 10px;
}

/* Estilo para el botón "Agregar al carrito" */
button {
    background-color:$btnMio;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:$btnHover;
    color: white;
    
}

/* Estilo para el carrito */
#carrito-container {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: black;
}


/* Estilos del botón "Calcular Costo Total" */
#calcular-costo-total {
    margin-top: 20px;
    background-color: $keyColor;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
}

#calcular-costo-total:hover {
        background-color: $fondoNav;
    color: $keyColor;   
}
