$mainColor: rgb(97, 97, 11); 
$secondaryColor: rgb(21, 83, 23);
$keyColor: rgb(94, 38, 6);
$white: rgb(238, 233, 233);
$fondoNav: rgb(233, 220, 171);

$mainFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;